.order-summary {
	&__inner {
		box-shadow: 0 em(4) em(15) rgba(0, 0, 0, 0.15);
		border-radius: em(15);
		padding: em(14) em(16.5) em(15) em(17);
		background: $color-white;
	}

	&__line {
		display: flex;
		justify-content: space-between;
		letter-spacing: em(0.5);
		margin-bottom: em(9);

		font-family: $font-family-roboto;
		font-weight: 400;
		font-size: em(14);
		line-height: 180%;
	}

	&__total {
		display: flex;
		justify-content: space-between;
		letter-spacing: em(0.5);

		font-family: $font-family-poppins;
		font-weight: 700;
		font-size: em(14);
		line-height: 150%;
	}

	&__dotted-line {
		$dotted-color: rgba(231, 231, 231, 1);
		$dotted-separator: rgba(255,255,255,0);
		$dotted-lighter: rgba(255,255,255,1);

		width: 100%;
		height: 1px;
		background: repeating-linear-gradient(to right, $dotted-color 0,
			$dotted-color 5px, $dotted-lighter 5px,
			$dotted-separator 10px);
		margin: em(16) 0 em(12) 0;
	}
}
