<div data-fluid-typography class="cart-item">
    <div class="cart-item__content">
        <div class="cart-item__content-grid content-grid">
            <div class="content-grid__row content-grid__row--top">
                <div class="content-grid__column content-grid__column--left">
                    <h3 class="product-title">Такос с томленой телятиной, томатной ...</h3>
                </div>
                <div class="content-grid__column content-grid__column--right">
                    <button class="button-cross">
                    <span class="button-cross__icon">
                        <i class="i-close-outline"></i>
                    </span>
                    </button>
                </div>
            </div>
            <div class="content-grid__row content-grid__row--bottom">
                <div class="content-grid__column content-grid__column--left">
                    <div class="price">
                        <span class="price__old">1 642 ₴</span>
                        <span class="price__sale">1 542 ₴</span>
                    </div>
                </div>
                <div class="content-grid__column content-grid__column--right">
                    <div class="button-amount">
                        <button class="button-amount__icon button-amount__icon--minus">
                            <i class="i-minus"></i>
                        </button>
                        <span class="button-amount__number">0</span>
                        <button class="button-amount__icon button-amount__icon--plus">
                            <i class="i-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
