<div data-fluid-typography class="category-card">
    <a href="#" class="category-card__inner">
        <div class="category-card__aside-content card-aside-content">
            <div class="card-aside-content__brand">
                <span>name company</span>
            </div>
        </div>
        <div class="category-card__bottom-content">
            <h3 class="category-title">Свіже м'ясо та субпродукти</h3>
            <div class="category-card__bottom-content-fade"></div>
        </div>
    </a>
    <div data-responsive-image class="category-card__image">
        <img src="../../../assets/img/category.png" alt="category-image">
    </div>
    <div class="category-card__border">
        <span></span><span></span>
    </div>
</div>
