{{#[helpers/layout] htmlWebpackPlugin}}

    <div class="categories">
        <div class="categories__row">
            <div class="categories__column">
                {{> components/pieces/category-card.hbs}}
            </div>
            <div class="categories__column">
                {{> components/pieces/category-card.hbs}}
            </div>
            <div class="categories__column">
                {{> components/pieces/category-card.hbs}}
            </div>
            <div class="categories__column">
                {{> components/pieces/category-card.hbs}}
            </div>
            <div class="categories__column">
                {{> components/pieces/category-card.hbs}}
            </div>
            <div class="categories__column">
                {{> components/pieces/category-card.hbs}}
            </div>
        </div>
    </div>

{{/[helpers/layout]}}
