{{#[helpers/layout] htmlWebpackPlugin}}

    <div class="order-success">
        <div class="order-success__container">
            <div class="order-success__frame-success frame-success">
                <div class="frame-success__inner">
                    <div class="frame-success__done-icon">
                        <img src="../assets/img/done.svg" alt="done-icon">
                    </div>
                    <h3 class="frame-success__caption">
                        Замовлення №32
                    </h3>
                    <h1 class="frame-success__title">
                        Дякуємо, <br>Ваша заявка прийнята!
                    </h1>
                    <h2 class="frame-success__subtitle">
                        Ми зв'яжемося з вами найближчим часом
                    </h2>
                    <a href="./products.html" class="frame-success__button">
                        <span class="frame-success__button-icon">
                            <img src="../assets/img/arrow.svg" alt="arrow-icon">
                        </span>
                        Оплатити
                    </a>
                </div>
            </div>
        </div>
        <div class="copyright">
            Powered by  QRBOSS
        </div>
    </div>

{{/[helpers/layout]}}
