.header {
	position: relative;
	height: $header-height;
	z-index: 999;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	&__brand {}

	&__menu {
		margin-top: em(15);
	}
}

.brand {
	cursor: pointer;
	display: flex;
	align-items: center;
	height: $header-height;

	& img {
		height: 100%;
	}
}

