.tabbar {
	@extend %position-fixed;

	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: em($tabbar-height);
	z-index: 99;
	background: url("../assets/img/tabbar-background.svg") no-repeat center top;

	&__inner {
		$inner-height: 46px;

		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		position: relative;
		height: em($inner-height);
		padding: 0 em(42) em(12) em(42);
		background: $color-white;
	}

	&__button {
		$icon-size: 22px;

		position: absolute;
		top: em(-13);
		left: 0;
		right: 0;
		width: em(53);
		height: em(53);
		margin: 0 auto;
		background: #E0FF0A;
		border-radius: em(100);
		box-shadow: 0 em(4) em(12) rgba(0, 0, 0, 0.15),
					0 em(2) em(5) rgba(224, 255, 10, 0.45);

		i {
			font-size: em($icon-size);
		}
	}

	&__item-count {
		position: absolute;
		top: em(12);
		right: em(12);
		width: em(28);
		height: em(28);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: em(100);
		padding: em(1.5) 0 0 em(1);
		background: $color-white;

		font-family: $font-family-roboto;
		font-weight: 500;
		font-size: em(11);
	}

	&__title, &__price {
		color: $color-default;
		font-family: $font-family-roboto;
		font-weight: 500;
		font-size: em(16);
		line-height: em(19);
	}
}
