<header class="header">
    <div class="header__row">
        <a href="./index.html" class="header__brand brand">
            <img src="../../../assets/img/logo.svg" alt="brand">
        </a>
        <nav class="header__menu menu">
            <span class="menu__title">menu</span>
            <div class="menu__icon">
                <i class="i-menu"></i>
            </div>
            <div class="menu__collapse hidden">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#" class="menu__link">О компании</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">перейти в facebook</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">оставить отзыв</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">поделиться</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
