<div class="tabbar">
    <div class="tabbar__inner">
        <a href="#" class="tabbar__title">
            Корзина
        </a>
        <button class="tabbar__button">
            <span class="tabbar__item-count">
                0
            </span>
            <i class="i-cart"></i>
        </button>
        <span class="tabbar__price">
            1 542 ₴
        </span>
    </div>
</div>
